#d1{
    background-color: black;
    width: 210px;
    height: 280px;
    float: left;
    margin: 10px;
}
#d2{
    background-color: blue;
    width: 210px;
    height: 280px;
    float: left;
    margin: 10px;
}
#d3{
    background-color: black;
    width: 210px;
    height: 280px;
    float: left;
    margin: 10px;
}
#d4{
    background-color:blue;
    width: 210px;
    height: 280px;
    float: left;
    margin: 10px;
}
img{
    width: 150px;
    height: 150px;
    margin: 30px; 
    border-radius: 10px;
}
p{
    color: aliceblue;
    text-align: center;
    margin: 10px;
    padding: 10px;
    

    
}