body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
font-family: 'Secular One', sans-serif;
}
.main{
    width: 270px;
    height: 400px;
     background-color:#b3b7de;
     border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     overflow: hidden;
}
#chk{
        display: none;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-width: 0px;
    outline: none;  
    padding-top: 70px;
    
}
.login{
   
     height: 400px;
    background-color:rgb(230, 182, 233);
    border-radius: 60px;
    transition: all 0.7s ease;
     display: flex;
    justify-content: center;
	transform: translateY(-10px);
	transition: .8s ease-in-out;
    padding-top: 5px;
}
.login label{
	color:#8b91c2;
	transform: scale(.6);
}
   


button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    border: 0px solid;
    padding: 5px;
    width: 60%;
    background-color:#d5e2f8;
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
   color: #dc81ca;
   transition: .1s ease-in;
	cursor: pointer;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-weight: bold;
	cursor: pointer;
	transition: .2s ease-in-out;
    font-size: xx-large
}
button:hover,button:active{
    background-color:#8890d4;
    font-size: 100%;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    padding: 8px;
    border-radius: 5px;
}
.input:focus{

 outline:none ;
}
    
#chk:checked ~ .login{
	transform: translateY(-230px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.5);
}

