
h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color:cornflowerblue;
    color: azure;
    font-size: 100%;
}
 th{
    background-color: black;
    width: 800px;
    text-align: center;    
 }
 td{
    text-align: center;
    background-color: darkgray;
    color: black;
 }
 ol{
   border: 2px solid;
    color: black;
    background-color: bisque;
    width: 300px;
    margin-left: 30px;
    padding: 20px;
    
   }
 p
 {
   color: navy;
 }
